@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .th {
        @apply px-6 py-3 text-left text-xs font-medium text-slate-500 uppercase tracking-wider;
    }
    .th-action {
        @apply px-6 py-3 text-right text-xs font-medium text-slate-500 uppercase tracking-wider;
    }
    .td {
        @apply px-6 py-4 whitespace-nowrap text-sm text-slate-700;
    }
    .label {
        @apply block text-sm font-medium text-slate-700 mb-1;
    }
    .input {
        @apply mt-1 block w-full pl-3 pr-10 py-2 text-base border-slate-300 focus:outline-none focus:ring-amber-500 focus:border-amber-500 sm:text-sm rounded-md shadow-sm;
    }
}
